<div class="login-template">
    
    <span class="layout-header">
        <h2>Sign UP</h2>
    </span>
    <form action="/signup" method="POST" class="adminForm">
    
        <label for="username"><b>username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password">
        
        <input type="submit" value="signup" class="btn"  id="signup-btn">
        
        
        </form>
</div>
